# Ignore compile_commands, which is generated for editor
compile_commands.json

# Test reports from CTest
Testing

# Ignore cache from clangd
.cache

# Also, make sure to ignore build artifacts
build/

# Kicad backups
*/*-backups/